
.estructura-deproductos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80%;
    margin: 0 auto;
}

.produc{
    width: 300px;
    margin-top: 30px;
}


.tituloo{
  text-align: center;
  margin: 100px;
}
