
.portada-estructura{
    display: flex;
    justify-content: space-between;
    height: 600px;
    padding-top: 80px;
}

.container{
    max-width: 80%;
    margin: auto;
}

.estructura-texto{
    display: flex;
    flex-direction: column;
    
}

.estructura-texto h2{
    color: #35DA8B;
    font-size: 60px;
    font-weight: 800;
    
}

.estructura-texto p{
    padding-top: 20px;
   font-size: 20px;
    
}

.estructura-foto{
    
}

.imagen-portada{
    max-width: 550px;

}